
<table class="table table-striped table-condensed" ng-show="tempRecords">
    <thead ng-repeat="e in tempRecords.records" ng-if="$first">
        <tr>
            <th>
                <a ng-click="order('self')">Self
                    <span class="glyphicon glyphicon-arrow-up" ng-show="predicate=='self' && !reverse"></span>
                    <span class="glyphicon glyphicon-arrow-down" ng-show="predicate=='self' && reverse"></span>
                </a>
                <select ng-model="tempTable.groupByKey" class="pull-right">
                    <option value="" ng-click="group('')">-Group By-</option>
                    <option ng-repeat="(key, value) in e" value="{{key}}" ng-click="group(key)" 
                            ng-hide="key=='self'||key=='ref-link'">{{key}}</option>
                </select>
            </th>
            <th ng-repeat="(key, value) in e" ng-show="!(key==('self')||key==('ref-link'))">
                <a ng-click="order(key)">{{ getCaptionByTemp(key, tempTable, tempTable.showLabel) }}
                    <span class="glyphicon glyphicon-arrow-up" ng-show="predicate==key && !reverse"></span>
                    <span class="glyphicon glyphicon-arrow-down" ng-show="predicate==key && reverse"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody ng-show="tempTable.groupByKey" ng-repeat="(key, value) in tempRecords.records | groupBy: tempTable.groupByKey">
        <tr>
            <td colspan="0">
                <a ng-click="groupShow[key]=!groupShow[key]">
                    <span class="glyphicon glyphicon-menu-{{(groupShow[key])?'right':'down'}}"></span>
                </a>
                {{ key }} ({{ value.length }})
            </td>
        </tr>
        <tr ng-repeat="record in value|filter:recordSearch|orderBy:predicate:reverse"
            ng-class="{selected: tempRecords['selected']==record['ref-link']}"
            ng-click="getRecordByTemp(record, tempRecords, true)"
            ng-show="groupShow[key]">
            <td>
                <a href="#relations" ng-click="showRelations(record)">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </a>
                {{ record['self'] }}
            </td>
            <td ng-repeat="(key, value) in record" ng-show="!(key==('self')||key==('ref-link'))">
                {{ formatValue(key, value) }}
            </td>
        </tr>
    </tbody>
    <tbody ng-hide="tempTable.groupByKey">
        <tr ng-repeat="record in tempRecords.records |filter:recordSearch|orderBy:predicate:reverse"
            ng-class="{selected: tempRecords['selected']==record['ref-link']}"
            ng-click="getRecordByTemp(record, tempRecords, true)">
            <td>
                <a href="#relations" ng-click="showRelations(record)">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </a>
                {{ record['self'] }}
            </td>
            <td ng-repeat="(key, value) in record" ng-show="!(key==('self')||key==('ref-link'))">
                {{ formatValue(key, value) }}
            </td>
        </tr>
    </tbody>
</table> 