<div class="container">
    <!--<h4 class="app-name">Setting</h4>-->
    <div class="col-md-4">
        <h4>Asset Manager</h4>

        <div class="form-group">
            <label>Server and port</label>
            <input type="text" class="form-control" placeholder="Server and port" ng-model="formData.server" disabled>
        </div>

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" ng-model="formData.user" disabled>
        </div>

        <div class="form-group">
            <label>Limit</label>
            <input type="text" class="form-control" placeholder="Limit" ng-model="formData.param.limit">
        </div>

        <div class="form-group">
            <label>Position</label>
            <input type="text" class="form-control" placeholder="Pos" ng-model="formData.param.offset">
        </div>

        <div class="form-group">
            <label>Page Size</label>
            <input type="text" class="form-control" placeholder="Page" ng-model="formData.pageSize">
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="formData.showLabel"> Show Label
            </label>
        </div>
        
        <div class="form-group">
            <label>Explorer view style</label><br>
            <label class="radio-inline">        
                <input type="radio" ng-model="formData.viewStyle" value="list"> <span class="glyphicon glyphicon-list"></span> List
            </label>
            <label class="radio-inline">  
                <input type="radio" ng-model="formData.viewStyle" value="tile"> <span class="glyphicon glyphicon-th"></span> Tile
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <h4>UCMDB</h4>

        <div class="form-group">
            <label>Server and port</label>
            <input type="text" class="form-control" placeholder="Server and port" ng-model="ucmdb.server">
        </div>

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" ng-model="ucmdb.user">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="ucmdb.password">
        </div>

        <!--<button class="btn">Test connection</button>-->
        <a ng-href="{{urlUCMDB(f.data)}}" class="btn btn-primary" target="_blank">Test connection</a>
    </div>
    <div class="col-md-4">
        <h4>Redis</h4>

        <div class="form-group">
            <label>Host</label>
            <input type="text" class="form-control" placeholder="Server" ng-model="redis.host" disabled>
        </div>

        <div class="form-group">
            <label>Port</label>
            <input type="text" class="form-control" placeholder="Port" ng-model="redis.port" disabled>
        </div>

        <div class="form-group">
            <label>Auth Pass</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="redis.auth_pass" disabled>
        </div>
 
        <div class="form-group">
            <label>Cache time(ttl)</label>
            <input type="text" class="form-control" placeholder="seconds" ng-model="redis.ttl" disabled>
        </div>
        
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="redis.enabled" disabled> Enable cache (quick search)
            </label>
        </div>
                
        <button class="btn">Test connection</button>

    </div>
    <button class="btn btn-primary btn-block" ng-click="store();back()">Save</button>
</div>