<div class="container">
    <!--<h4 class="app-name">Setting</h4>-->
    <div class="col-md-4">
        <h4>Asset Manager</h4>

        <div class="form-group">
            <label>Server and port</label>
            <input type="text" class="form-control" placeholder="Server and port" ng-model="formData.server" disabled>
        </div>

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" ng-model="formData.user" disabled>
        </div>

        <div class="form-group">
            <label>Limit</label>
            <input type="text" class="form-control" placeholder="Limit" ng-model="formData.param.limit">
        </div>

        <div class="form-group">
            <label>Position</label>
            <input type="text" class="form-control" placeholder="Pos" ng-model="formData.param.offset">
        </div>

        <div class="form-group">
            <label>Page Size</label>
            <input type="text" class="form-control" placeholder="Page" ng-model="formData.pageSize">
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="formData.showLabel"> Show Label
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="formData.cache"> Enable cache (quick search)
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <h4>UCMDB</h4>

        <div class="form-group">
            <label>Server and port</label>
            <input type="text" class="form-control" placeholder="Server and port" ng-model="formData.ucmdb.server">
        </div>

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" ng-model="formData.ucmdb.user">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="formData.ucmdb.password">
        </div>

        <button class="btn">Test connection</button>
    </div>
    <div class="col-md-4">
        <h4>Redis</h4>

        <div class="form-group">
            <label>Server and port</label>
            <input type="text" class="form-control" placeholder="Server and port" ng-model="formData.redis.server">
        </div>

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" ng-model="formData.redis.user">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="formData.redis.password">
        </div>

        <button class="btn">Test connection</button>

    </div>
    <button class="btn btn-primary btn-block" ng-click="store()">Save</button>
</div>