{
  "presets": [ "es2015", "react" ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-assign"
  ],
  "ignore": [
    "scripts/vfs_font.js",
    "scripts/pdfmake.min.js"
  ]
}
