<div ng-show="tempRecords" ng-init="tempRecords.showDetail='none'">
    <div class="container">
            <input type="text" class="form-control" ng-model="recordSearch"
                   my-enter="dbSearch(recordSearch)" placeholder="Press enter to query from database">
    </div>

    <div class="col-md-12">
        <a ng-click="backTableList(); back()" class="badge"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a ng-click="saveHtml('to_save')" class="badge"><span class="glyphicon glyphicon-share-alt"></span></a>
        <small style="padding-left: 20px" ng-show="tempRecords.timeEnd1">
            Count: {{ tempRecords.count }}
            Elapsed time: {{ tempRecords.timeEnd1 - tempRecords.timeStart1 }}ms
        </small>
        <span class="pull-right">
            Show Details:
            <input type="radio" ng-model="tempRecords.showDetail" value="none"> None
            <input type="radio" ng-model="tempRecords.showDetail" value="vertical"> Vertical View
            <input type="radio" ng-model="tempRecords.showDetail" value="horizon"> Horizon view
        </span>

        <span class="text-center" ng-show="tempRecords.loading1">Loading....</span>
    </div>

    <div ng-hide="tempRecords.showDetail=='horizon'" ng-include="'/browser/record_list.html'" full-height="130"
         ng-class="{'col-md-9':tempRecords.showDetail=='vertical','col-md-12':tempRecords.showDetail=='none'}"></div>
    <div ng-show="tempRecords.showDetail=='vertical'" class="col-md-3" ng-show="tempRecord && tempRecords.showDetail" full-height="130">
        <div ng-show="tempRecord" ng-include="'/browser/record_tree.html'"></div>
    </div>
    <div ng-show="tempRecords.showDetail=='horizon'" class="col-md-3" ng-show="tempRecord && tempRecords.showDetail" full-height="130">
        <div ng-show="tempRecord" ng-include="'/browser/builder/view_records.html'"></div>
    </div>
    <div ng-show="tempRecords.showDetail=='horizon'" class="col-md-9" ng-show="tempRecord && tempRecords.showDetail" full-height="130">
        <div ng-show="tempRecord" ng-include="'/browser/record_layer.html'"></div>
    </div>
</div>