<div ng-show="tempRecords">
    <div class="container">
            <input type="text" class="form-control" ng-model="recordSearch"
                   my-enter="dbSearch(recordSearch)" placeholder="Press enter to query from database">
    </div>

    <div class="{{(tempRecords.showDetail)?'col-md-9':'col-md-12'}}">
        <a ng-click="backTableList(); back()" class="badge"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a ng-click="saveHtml('to_save')" class="badge"><span class="glyphicon glyphicon-heart"></span></a>
        <small style="padding-left: 20px" ng-show="tempRecords.timeEnd1">
            Count: {{ tempRecords.count }}
            Elapsed time: {{ tempRecords.timeEnd1 - tempRecords.timeStart1 }}ms
        </small>
        <a class="pull-right badge" ng-click="tempRecords.showDetail=!tempRecords.showDetail" ng-init="tempRecords.showDetail=true">
            <span class="glyphicon glyphicon glyphicon-step-{{(tempRecords.showDetail)?'forward':'backward'}}"></span>
        </a>

        <span class="text-center" ng-show="tempRecords.loading1">Loading....</span>
    </div>

    <div class="{{(tempRecords.showDetail)?'col-md-9':'col-md-12'}}" ng-include="'/browser/record_list.html'" full-height="130"></div>
    <div class="col-md-3" ng-show="tempRecord && tempRecords.showDetail" full-height="130">
        <div ng-show="tempRecord" ng-include="'/browser/record_tree.html'"></div>
    </div>

</div>