<!--<div class="checkbox">-->
    <!--<label>-->
        <!--<input type="checkbox" ng-checked="showCompact" ng-click="showCompact=!showCompact"> Compact View-->
    <!--</label>-->
<!--</div>-->

<span style="display: none">{{ r.child = relations }}</span>
<div ng-show="r.child" ng-include="'amNexLevel'"></div>


<script type="text/ng-template" id="amNexLevel">
    <span style="display: none">{{ childs = r.child }}</span>

    <div class="panel panel-default">

        <!-- Display links -->
        <div class="panel-heading" ng-show="!showCompact">
            <ul class="nav nav-pills">
                <li role="presentation"><a ng-click="hiddenRelations(r)"><span
                        class="glyphicon glyphicon-remove"></span>Close</a></li>
                <li role="presentation" ng-repeat="r in childs" ng-class="{active: r.active}"
                    ng-show="r.records.length>0"
                    ng-init="getRecords(r)">
                    <a ng-click="r.active=!r.active">{{ r.link }}<span class="badge">{{r.records.length}}</span></a>
                </li>
            </ul>
        </div>
        <div class="panel-body" ng-repeat="r in childs|filter:{active: true}" ng-init="pos=$index">
            <div ng-show="r.child" ng-include="'amNexLevel'"></div>
            <table ng-show="!r.child" class="table table-striped">
                <thead>
                <tr ng-repeat="e in r.records" ng-if="$first">
                    <th ng-show="e['ref-link']">
                        <span class="badge" ng-click="r['showFields']=!r['showFields']">
                            {{ r.link }}
                            <span class="glyphicon glyphicon-zoom-out" ng-if="r['showFields']"></span>
                            <span class="glyphicon glyphicon-zoom-in" ng-if="!r['showFields']"></span>
                        </span>
                    </th>
                    <th ng-repeat="(key, value) in e" ng-show="key!='ref-link'">{{ key }}</th>
                </tr>

                <!-- Fields select area -->
                <tr ng-show="r['showFields']">
                    <td colspan="{{ colNumber(r.records[0]) }}">
                        <form class="form-inline" ng-init="getFields(r)">
                            <input type="text" class="form-control" placeholder="Search fields..."
                                   ng-model="r.fieldSearch.sqlname">
                            <button class="btn" ng-click="getRecords(r)">Filter</button>

                            <div class="table">
                                <div class="checkbox" ng-repeat="field in r.fields|filter:r.fieldSearch">
                                    <label>
                                        <input type="checkbox"
                                               ng-click="toggleCheckbox(r.displayColumns, field['sqlname'])">{{
                                        field['sqlname'] }}
                                    </label>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="e in r.records">
                    <td ng-show="e['ref-link']">
                        <a ng-click="showRelations(e, r)" ng-if="pos>0">{{ e['ref-link'] }}</a>
                        <span ng-if="pos==0">{{ e['ref-link'] }}</span>
                        <a ng-click="load(e)"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                    <td ng-repeat="(key, value) in e" ng-show="key!='ref-link'">
                        {{ formatValue(key, value, r.fields) }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>