<h4><strong>{{ tableName }} </strong>
    <small>
        <a ng-click="query(tableData.form)"><span class="glyphicon glyphicon-refresh"></span></a>
        <a ng-click="tableData.aqlEdit=!tableData.aqlEdit"><span class="glyphicon glyphicon-pencil"></span></a>
        <small>Count: {{ tableData.count }} Elapsed time: {{ tableData.timeEnd - tableData.timeStart }}ms</small>
    </small>
    <small class="pull-right">
        Search
        <input type="text" placeholder="Dynamic Search" ng-model="search"
               ng-change="formData.pageSize=(search.trim().length>0)?tableData.entities.length:10">
        Page
        <select ng-model="formData.pageSize" ng-options="o as o for o in [10, 50, 100]">
        </select>
    </small>
</h4>

<span class="text-center" ng-show="loading">Loading....</span>

<div full-height="180">
    <form class="form-inline">
        <input class="form-control" ng-show="tableData.aqlEdit" type="text" placeholder="Limit" ng-model="tableData.form.param.limit" size="1">
        <input class="form-control" ng-show="tableData.aqlEdit" type="text" placeholder="Pos" ng-model="tableData.form.param.offset" size="1">
        <input class="form-control" ng-show="tableData.aqlEdit" type="text" placeholder="AQL Filter..." ng-model="tableData.form.param.filter" size="30">
        <input class="form-control" ng-show="tableData.aqlEdit" type="text" placeholder="Order By..." ng-model="tableData.form.param.orderby" size="20">
        <button class="btn" ng-show="tableData.aqlEdit" ng-click="query(tableData.form)">Query</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr ng-repeat="e in tableData.entities" ng-if="$first">
                <th ng-show="e['ref-link']">
                    <a ng-click="order('ref-link')">ref-link
                        <span class="glyphicon glyphicon-arrow-up" ng-show="predicate=='ref-link' && !reverse"></span>
                        <span class="glyphicon glyphicon-arrow-down" ng-show="predicate=='ref-link' && reverse"></span>
                    </a>
                </th>
                <th ng-repeat="(key, value) in e" ng-show="key!='ref-link'">
                    <a ng-click="order(key)">{{ key }}
                        <span class="glyphicon glyphicon-arrow-up" ng-show="predicate==key && !reverse"></span>
                        <span class="glyphicon glyphicon-arrow-down" ng-show="predicate==key && reverse"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in tableData.entities|filter:search|orderBy:predicate:reverse|startFrom:currentPage*formData.pageSize|limitTo:formData.pageSize">
                <td ng-show="e['ref-link']">
                    <a ng-click="showRelations(e)">{{ e['ref-link'] }}</a>
                    <a ng-click="load(e)"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td ng-repeat="(key, value) in e" ng-show="key!='ref-link'">
                    {{ formatValue(key, value) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>


<nav class="pull-right">
    <ul class="pagination">
        <li>
            <a aria-label="Previous" ng-click="jump((currentPage-1)<0?0:currentPage-1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="i in [] |range:tableData.entities.length/formData.pageSize" ng-class="{active: currentPage==i}" ng-click="jump(i)"><a>{{ i + 1 }}</a></li>
        <li>
            <a aria-label="Next" ng-click="jump((currentPage+1)>tableData.entities.length/formData.pageSize?currentPage:currentPage+1)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>