<div ng-show="tempTable">
    <!--<h4>
        View of [<strong>{{tempTable['$']['sqlname']}}</strong>]
    </h4>
    <hr>-->

    <form name="tempForm" class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': !tempForm.tempName.$valid}">
            <label class="col-md-4">Name</label>

            <div class="col-md-8">
                <input type="text" class="form-control" name="tempName" ng-model="tempTable.name" placeholder="Input a Template Name" ng-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Description</label>

            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="tempTable.description" placeholder="Input description">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <input type="checkbox" ng-click="tempTable.showLabel=!tempTable.showLabel" ng-checked="tempTable.showLabel"> Show Label
                <span class="pull-right">
            <!--<a ng-click="closeTemplate()" class="badge"><span class="glyphicon glyphicon-remove"></span>                Close</a>-->
                <a ng-click="saveTemplate(tempTable)" class="badge" ng-show="tempForm.$valid" ng-confirm-click="Save this template?"><span class="glyphicon glyphicon-floppy-save"></span></a>
                <a ng-click="removeTemplate(tempTable)" class="badge" ng-confirm-click="Delete this template?"><span
                    class="glyphicon glyphicon-floppy-remove"></span></a>
                <a ng-click="queryRootByTemp(tempTable)" class="badge"><span class="glyphicon glyphicon-play"></span></a>
                </span>
            </div>
            <div class="panel-body" full-height="225">
                <div ng-show="tempTable" ng-include="'amTemp'"></div>
            </div>
        </div>
    </form>
</div>


<script type="text/ng-template" id="amTemp">
    <span style="display: none">{{table = (l.table)?l.table:tempTable}}</span>
    <span style="display: none">{{isCard11 = (l['$']['card11'])?true:false}}</span>
    <h5>{{ (tempTable.showLabel)?(l['$']['label'])?l['$']['label']:table['$']['sqlname']:(l['$']['sqlname'])?l['$']['sqlname']:table['$']['sqlname'] }}
        <small ng-show="!isCard11"><a ng-click="table.AQL=' '" ng-show="!table.AQL">Set AQL</a></small>
    </h5>
    <ul>
        <span ng-show="table.AQL">Set AQL: <input class="form-control" type="text" ng-model="table.AQL"></span>
        <li ng-repeat="f in table.field">
            <span ng-click="f.aliasName=(tempTable.showLabel)?f['$']['label']:f['$']['sqlname']">{{ (tempTable.showLabel)?f['$']['label']:f['$']['sqlname'] }}</span>
            <small ng-show="f.aliasName">
                <span class="glyphicon glyphicon-pencil" contenteditable ng-model="f.aliasName"></span>
            </small>
        </li>
    </ul>
    <span ng-repeat="l in table.link">
        <div ng-show="l.table" ng-include="'amTemp'" style="padding-left: 20px"></div>
    </span>
</script>