<div full-height="140">

    <table class="table table-striped" ng-init="loadTemplates()">
        <thead>
        <tr>
            <th>
                <input type="text" class="form-control" placeholder="Search views..." ng-model="templates.search">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="temp in templates | filter: templates.search" ng-class="{selected: templates['selected']==temp['$loki']}"
            ng-click="backTableList();loadOneTemp(temp);visitTemplate(temp);">
            <td><a>{{ temp.name }}</a>
                <small class="badge pull-right">{{temp.last.count}}</small>
                <h6>
                    <small class="pull-left">{{ temp.description }}</small>
                    <small class="pull-right">{{temp.last.time | date:'yyyy-MM-dd HH:mm:ss'}}</small></h6>
                <!--<small class="badge">{{temp.last.count}}</small>-->
            </td>
            <!--<td>{{ temp['$']['sqlname'] }}</td>-->
            <td ng-show="tempAction">
                <!--<a ng-click="queryRootByTemp(temp)" class="badge"><span class="glyphicon glyphicon-eye-open"></span>-->
                    <!--Query</a>-->
                <a ng-click="removeTemplate(temp)" class="badge"><span class="glyphicon glyphicon-trash"></span>
                    Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
