<div ui-content-for="navbarAction">
    <a class='btn' ng-click="tempEdit=true" ng-show="nav=='templates' && tempRecords && !tempEdit">
        <i class="fa fa-pencil" style="font-size: 18px"></i>
    </a>
    <a class='btn' ng-click="tempEdit=false" ng-show="nav=='templates' && tempRecords && tempEdit">
        <i class="fa fa-close" style="font-size: 18px"></i>
    </a>
</div>

<div class="scrollable" ng-init="loadTemplates()">
    <input type="text" placeholder="Search view..." class="form-control" ng-show="!tempRecords" ng-model="tempSearch">
    <div class="scrollable-content">

        <div class="list-group" ng-show="!tempRecords">
            <span class="list-group-item" ng-repeat="temp in templates|filter:tempSearch|orderBy:'-last.time'" ng-click="loadOneTemp(temp)">
                <strong>{{ temp.name }}</strong>
                <!--<i class="fa fa-chevron-right pull-right"></i>-->
                <small class="badge pull-right">{{temp.last.count}}</small>
                <h6>
                    <small class="pull-left">{{ temp.description }}</small>
                    <small class="pull-right">{{temp.last.time | date:'yyyy-MM-dd HH:mm:ss'}}</small></h6>  
            </span>
        </div>

        <div class="panel-group section" ng-show="tempRecords && !tempEdit" style="padding: 0px 0px;">
            <div class="panel panel-default" ng-repeat="record in tempRecords.records">
                <div class="panel-heading" ng-click="tempRecords.showIndex=(tempRecords.showIndex==$index)?-1:$index;(tempRecords.showIndex==$index)?getRecordByTemp(record, tempRecords, true):''">
                    <h4 class="panel-title">
                            {{ record['self'] }}
                        </h4>
                </div>
                <div class="panel-body" ng-show="tempRecords.showIndex==$index">
                    <small class="pull-right">
                                {{ tempRecord.timeEnd - tempRecord.timeStart }}ms
                            </small>
                    <div ng-show="tempRecord" ng-include="'amTempRecord'"></div>
                </div>
            </div>
        </div>

        <div ng-show="tempTable && tempEdit" class="section" ng-include="'/mobile/template.html'"></div>
    </div>
</div>

<script type="text/ng-template" id="amTempRecord">

    <span style="display: none">{{table = (isStructure) ? l.table: (t)?t:tempRecord }}</span>

    <h5>
        <small>
            <span class="fa fa-eye-slash" ng-click="table.showSelf=!table.showSelf" ng-show="!table.showSelf"></span>
            <span class="fa fa-eye" ng-click="table.showSelf=!table.showSelf" ng-show="table.showSelf"></span>
        </small>
        {{ (l['$']['sqlname']) ? l['$']['sqlname'] : table['$']['sqlname'] }}
        <small>({{ table['ID'] }})</small>
    </h5>

    <ul ng-show="!table.showSelf">
        <li ng-repeat="f in table.field"><strong>{{(f.aliasName)?f.aliasName:(tempTable.showLabel)?f['$']['label']:f['$']['sqlname']}}:</strong> {{ formatValue(f['$']['sqlname'],
            f.data) }}
        </li>
    </ul>

    <span ng-show="!table.showSelf" ng-repeat="l in table.link">
        <div ng-show="l.table && l['$']['card11']=='yes'" ng-include="'amTempRecord'" style="padding-left: 20px" ng-init="isStructure=true"></div>
        <div ng-show="l.tables && !l['$']['card11']" style="padding-left: 20px">
            <a ng-click="l.showChild=!l.showChild" ng-show="!l.showChild"><span class="fa fa-plus"></span> {{l['$']['sqlname']}}
    ({{l.tables.length}})
    </a>
    <a ng-click="l.showChild=!l.showChild" ng-show="l.showChild"><span class="fa fa-minus"></span>
                {{l['$']['sqlname']}} ({{l.tables.length}})
            </a>

    <div ng-show="l.showChild" ng-repeat="t in l.tables" ng-include="'amTempRecord'" style="padding-left: 18px" ng-init="isStructure=false"></div>
    </div>
    </span>

</script>