.grommetux-form-field__contents > .grommetux-action-label {
  position: relative;
  padding-left: 24px;

  .grommetux-label {
    font-size: 1rem;
    line-height: 1.5;
  }

  .grommetux-label_control {
    position: absolute;
    top: auto;
    right: 6px;
    transform: none;
    bottom: -6px;
  }
}
