.icon-empty {
  visibility: hidden;
  margin-right: 12px;
}

.icon-empty2 {
  visibility: hidden;
}

.fontNormal {
  font-weight: 400;
}

.autoScroll {
  overflow: auto;
}

/** Grommet: */
.grommetux-tabs__content {
  flex-grow: 1;
}

/** Firefox: for the minimum sizing behavior*/
.main-container > .grommetux-box {
  min-height: 0;
}

/** Firefox: for the minimum sizing behavior*/
.fixMinSizing {
  min-height: 0;
}

/** IE11: */
/*@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none)*/
.grommetux-header--small {
    height: auto;
}

.fixIEScrollBar {
  flex-grow: 1;
  flex-basis: 0;
}

table {
  margin-bottom: 0;

  .textarea {
    width: 100%;
    margin: 0;
    outline: 0;
    border: none;
    height: 24px;
  }

  .inner-table {
    margin: 0;
    padding: 0;
  }
  tbody {
    tr:nth-child(odd) {
      background: #f5f5f5;
    }
  }
}

.table {
  td, th {
    padding: 5px;
  }
}

.hide {
  display: none;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

/** Tab: */
.autoScroll {
  & div[role=tablist] {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    & ul {
      flex-shrink: 0;
    }
  }

  & div[role=tabpanel] {
    display: flex;
    overflow-y: auto;

    & li {
      flex-shrink: 0;
    }
  }
}

.flex .grommetux-tabs__content {
  flex-grow: 1;
  & div {
    padding-bottom: 8px;
  }
}

.anchor.small .grommetux-anchor__icon {
  padding: 0 2px;
}

.grommetux-menu--row.grommetux-menu--inline > div > div {
  height: 48px;
}

.logo {
  margin-left: 20px;
  margin-right: 20px;
}

.disabled,
.disabled:hover {
  opacity: 0.3;
  pointer-events:none;
}

.justify-around {
  justify-content: space-around;
}

.grommetux-tiles:focus {
  outline: none;
}

.hiddenScroll {
  overflow: hidden;
}

