.icon-empty {
  visibility: hidden;
  margin-right: 12px;
}

.icon-empty2 {
  visibility: hidden;
}

.icon-empty3 {
  visibility: hidden;
  margin-right: 9px !important;
}

.icon-side-sequence {
  font-size: 0.88em;
  margin-top: 6px;
}

.autoScroll {
  overflow: auto;
}

/** Grommet: */
.grommetux-tabs__content {
  flex-grow: 1;
}

/** Firefox: for the minimum sizing behavior*/
.main-container > .grommetux-box {
  min-height: 0;
}

/** Firefox: for the minimum sizing behavior*/
.fixMinSizing {
  min-height: 0;
}

/** IE11: */
/*@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none)*/
.grommetux-header--small {
    height: auto;
}

.fixIEScrollBar {
  flex-grow: 1;
  flex-basis: 0;
}

table {
  margin-bottom: 0;

  .textarea {
    width: 100%;
    margin: 0;
    outline: 0;
    border: none;
    height: 24px;
  }

  .inner-table {
    margin: 0;
    padding: 0;
  }
  tbody {
    tr:nth-child(odd) {
      background: #f5f5f5;
    }
  }
}

.table {
  td, th {
    padding: 5px;
  }
}

.hide {
  display: none;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

/** Tab: */
.autoScroll, .grommetux-layer {
  & div[role=tablist] {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;

    & ul {
      flex-shrink: 0;
    }
  }

  & div[role=tabpanel] {
    display: flex;
    overflow-y: auto;
    flex: 1;

    & li {
      flex-shrink: 0;
    }
  }
}

th {
  white-space: nowrap;
  a {
    display: flex;
    align-items: baseline;
    &.grommetux-anchor svg.grommetux-control-icon {
      margin-left: 0;
      margin-right: 12px;
    }
  }
}

.flex .grommetux-tabs__content {
  flex-grow: 1;
  & div {
    padding-bottom: 8px;
  }
}

.grommetux-anchor--icon-label {
  display: flex;
  font-weight: normal;
  align-items: flex-end;
}

.anchor.small .grommetux-anchor__icon {
  padding: 0 2px;
}

.grommetux-menu--row.grommetux-menu--inline > div > div {
  height: 48px;
}

.logo {
  margin-left: 20px;
  margin-right: 20px;
}

.disabled,
.disabled:hover {
  opacity: 0.3;
  pointer-events:none;
}

.justify-around {
  justify-content: space-around;
}

.grommetux-tiles:focus {
  outline: none;
}

.hiddenScroll {
  overflow: hidden;
}

.grommetux-background-color-index-light-2 {
  box-shadow: 3px 3px 5px rgba(221, 221, 221, 0.7);
}

.grommetux-background-color-index-neutral-1.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 17, 0.7);
}

.orderbyIcon-margin-left {
  margin-left: 8px;
}

div .grommetux-menu__drop .grommetux-anchor {
    padding: 8px 12px;
    white-space: nowrap;
    text-decoration: none;
    width: 100%;
}
