.icon-empty {
  visibility: hidden;
  margin-right: 12px;
}

.fontNormal {
  font-weight: 400;
}

.short-form {
  width: 350px;
}

.long-form {
  width: 700px;
}

.autoScroll {
  overflow: auto;
}

.grommet.app {
  display: flex;
}

.grommet.app > .box {
  flex-grow: 1;
}

/*for the minimum sizing behavior*/
.main-container > .box {
  min-height: 0;
}

/*for the minimum sizing behavior*/
.fixMinSizing {
  min-height: 0;
}

.autoScrollBox {
  overflow: auto;
  height: 300px;
}

table {
  margin-bottom: 0;

  .textarea {
    width: 100%;
    margin: 0;
    outline: 0;
    border: none;
    height: 24px;
  }

  .inner-table {
    margin: 0;
    padding: 0;
  }
}

.table {
  td, th {
    padding: 5px;
  }
}

.hide {
  display: none;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

div[role=tablist] {
  display: flex;
  flex-direction: column;

  & ul {
    flex-shrink: 0;
  }
}

div[role=tabpanel] {
  display: flex;
  overflow-y: auto;

  & li {
    flex-shrink: 0;
  }
}