.vertical-form {
  flex-direction: row;
  display: flex;
  width: 100%;

  .grommetux-check-box--toggle {
    display: flex;
    flex-direction: column;
  }

  & + .toggle {
    position: absolute;
    right: 0;
    top: 20px;
  }
}

.multi-check {
  .grommetux-form-field__contents {
    flex-direction: row;
    display: flex;
  }
}

.short-form {
  width: 350px;
}

.long-form {
  width: 700px;
}

.no-border {
  .grommetux-form-field {
    border: none;
  }
}

.strong-label {
  .grommetux-form-field__label {
    font-weight: bold;
  }

  .grommetux-check-box__label {
    @extend .grommetux-form-field__label;
    display: inline;
  }
}