// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

@import '~grommet/scss/hpe/index';
//@import '~grommet-index/scss/grommet-index/index';
@import './search';
@import './common';
@import './insight';
@import './about';
@import './action_label';
@import './form';
@import './input';
@import './topology';

$hpe-fonts-path: './fonts';

@font-face {
  font-family: "Metric";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Regular.woff") format('woff');
}

@font-face {
  font-family: "Metric";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Bold.woff") format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "Metric";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Semibold.woff") format('woff');
  font-weight: 600;
}

@font-face {
  font-family: "Metric";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Light.woff") format('woff');
  font-weight: 100;
}

// TODO: explore moving to grommet-core
.title {

  // For HPELogo
  // .logo-icon {
  //   width: 116px;
  //
  //   &--inverse {
  //     .logo-icon__text {
  //       fill: $background-color;
  //     }
  //   }
  // }

  @include media-query(lap-and-up) {
    .dashboard & .logo-icon {
      @include animation('slide-logo 0.4s');

      g {
        transition: stroke-width $base-animation-duration ease-in-out;
      }
    }
  }

  [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
    .logo-icon g {
      stroke: $colored-icon-color;
    }
  }

  &:hover {
    .logo-icon g.paths {
      stroke-width: 5px;
    }
  }
}

@include keyframes(slide-logo) {
  0% {
    transform: translateX(halve($inuit-base-spacing-unit));
  }

  100% {
    transform: translateX(0);
  }
}

.sidebar {
  @include media-query(lap-and-up) {
    @include animation('slide-sidebar 0.2s');
  }
}

.active {
  border-bottom: 3px solid #01A982;
}

@include keyframes(slide-sidebar) {
  0% {
    width: 0px;
  }

  100% {
    width: $sidebar-width;
  }
}

html {
  overflow: auto;
}