input {
  .grommet &.aql {
    color: #767676;
    border-color: #FFD144;
  }

  .grommetux-header & {
    font-size: $h5-font-size;
  }

  &[disabled] {
    border-color: $disabled-icon-color;
  }

  &.shadow {
    box-shadow: 0 1px 1px rgba(204, 204, 204, 0.50);
  }

  & + .button {
    margin-left: -1px;
    box-shadow: 1px 1px 2px rgba(204, 204, 204, 0.50);
  }

  &.span, &.span:focus {
    line-height: 1;
    padding: 0 4px;
    width: 50px;
  }

  &[type="color"], &[type="color"]:focus {
    padding: 0;
    margin: 0 24px;
  }

  &[type='text'].input-field {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin-left: 10px;

    &:focus {
      border: none;
      border-bottom: 1px solid rgba(0,0,0,0.15);
      padding: 0;
    }
  }
}

.grommetux-form-field__contents>.grommetux-number-input {
  &:not(.number-input-label) {
    padding-right: 12px;
    padding-top: 6px;
  }

  &.number-input-label {
    transform: scale(0.5);
    position: absolute;
    right: -55px;
    top: 0;

    input {
      font-weight: 600;
      font-size: 1.5em;
      width: 100px;
    }
    & + input[type=range]:focus {
      padding: 0;
    }
  }
}