input {
  .grommet &.aql {
    color: #767676;
    border-color: #FFD144;
  }

  .grommetux-header & {
    font-size: $h5-font-size;
  }

  &[disabled] {
    border-color: $disabled-icon-color;
  }

  &.shadow {
    box-shadow: 0 1px 1px rgba(204, 204, 204, 0.50);
  }

  & + .button {
    margin-left: -1px;
    box-shadow: 1px 1px 2px rgba(204, 204, 204, 0.50);
  }

  &.span, &.span:focus {
    line-height: 1;
    padding: 0 4px;
    width: 50px;
  }

  &[type="color"], &[type="color"]:focus {
    padding: 0;
    margin: 0 24px;
  }

  &[type='text'].input-field {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin-left: 10px;
  }
}

.grommetux-form-field__contents>.grommetux-number-input.number-input-label {
  position: absolute;
  right: 18px;
  top: 5px;
  width: 100px;

  input {
    padding-right: 0;
    margin-top: 2px;
    font-weight: 600;
    @extend .grommetux-form-field__help;

    &:focus {
      padding-right: 0;
    }
  }


  .grommetux-button__icon {
    padding: 2px;
  }

  button {
    height: 12px;
    margin-top: 5px;
  }

  svg {
    width: 13px;
    height: 13px;
  }
}