.disable_animation .grommetux-carousel__track {
  transition: none;
}

.icon_rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.box-graph {
  box-shadow: 3px 3px 5px rgba(221, 221, 221, 0.7);
}