.disable_animation .grommetux-carousel__track {
  transition: none;
}

.icon_rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.box-graph {
  box-shadow: 1px 2px 4px rgba(196, 196, 196, 1);
  & > div:first-child {
    background: #E7E5E6;
  }
}

.left-border {
  position: relative;
  &:before {
    content: "|";
    position: absolute;
    left: 0;
    color: $brand-color;
    font-size: 2rem;
    font-weight: bold;
    top: 10px;
  }
}

.hide-HotSpots {
  circle {
    fill: transparent !important;
    stroke: transparent !important;
  }
}
