.margin-designer {
  input[type='number'] {
    padding: 0 2px;
    width: 40px;
    height: 18px;
    border: 1px solid;
    margin: 10px 14px;
    background: #fff;
  }

  .input[type='text'] {
    background: #fff;
  }

  .grommetux-background-color-index-light-2 {
    box-shadow: none;
  }
}

.style-designer {
  min-Width: 800px;
  width: inherit;
}