.box-shadow {
  background: none;
  box-shadow: 0 0 10px 2px #eee;
}
.box--justify-around {
  justify-content: space-around;
}

.set-position {
  position:relative;
  display: inline-block;

  .flex {
    width: 100%;
  }
}

.input-with-tag-buttons {
  position: absolute;
  margin-top:4px;
  right:20px;
  display: inline-block;

  .grommetux-button {
    min-width: 40px;
    padding: 6px 8px;
    font-weight: 100;
    margin-left: 10px;
  }

  .grommetux-button__icon {
    padding: 0;
  }
  .grommetux-button--plain {
    border: 2px solid #01a982;
  }

}
