.box-shadow {
  background: none;
  box-shadow: 0 0 10px 2px #eee;
}

.icon-empty {
  visibility: hidden;
  margin-right: 12px;
}

.sidebar .anchor {
  font-weight: 400;
}

.short-form {
  width: 350px;
}

.autoScroll {
  overflow: auto;
}

.grommet.app {
  overflow: hidden;
}
