.box-shadow {
  background: none;
  box-shadow: 0 0 10px 2px #eee;
}

.icon-empty {
  visibility: hidden;
  margin-right: 12px;
}

.sidebar .anchor {
  font-weight: 400;
}

.main-body {
  position: absolute;
  bottom: 0;
  top: 0;
  overflow: auto;
}

.main-body-container {
  position: fixed;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
}

.box--full,
.sidebar--full {
  min-height: 100%;
}

.short-form {
  width: 350px;
}
