.public-tab {
  & *, &.grommetux-tab--active * {
    color: rgba($brand-color, .8 )
  }

  &.grommetux-tab--active * {
    border-color: $brand-color;
    color: $brand-color;
  }

  & > svg:first-child {
    stroke: $brand-color;
  }


}

.action-tab {
  display: flex;

  & button.grommetux-button {
    padding: 0 4px;
  }

  svg {
    transform: scale(0.75);
  }
}